keypair = "{{ srv_keypair }}"

vpc_name = "{{ srv_vpc_name }}"

vpc_id = "{{ srv_vpc_id }}"

az_1 = "{{ srv_az }}"

public_subnet_id = "{{ srv_public_subnet_id }}"

private_subnet_id = "{{ srv_private_subnet_id }}"

bastion_ami_id = "{{ srv_ami_id }}"

bastion_instance_type = "{{ srv_instance_type }}"

bastion_keypair = "{{ srv_keypair }}"
